body {
    text-align: center;
    display:flex;
}

#winner {
  position: absolute;
  top: 32vh;
  left: 43vw;
}

.modal-body {
  height: 100%;
  width: 100%;
  border: 5px solid #000;
  background: rgba(255, 255, 255, 0.64);
  font-size: 1.7rem;
  padding: 10px 30px;
}

.hide {
  display: none !important;
}
